h1{
    display: flex;
    justify-content: center;
}

#books{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; /* Spacing between books */
    padding: 20px;
}
.btn{
    background-color: blue;
    color: white;
    margin-left: 18px;
    border-radius: 15px;
    padding: 2px;
}
.remove{
    background-color: red;
    color: white;
    border-radius: 7px;
}
.read{
    background-color: green;
    color: white;
    border-radius: 7px;
}